
img {
    margin: 10px 10px 10px 10px
}

#catPhotoAlign {
    display: block;
    margin: 0px auto;
}

.contact-form {
    margin: 10px;
}

#textBox , #contactBox {
    background-color: slategray;
    box-shadow:10px 10px 5px grey;
}
