
img {
    margin: 10px 10px 10px 10px
}

#catPhotoAlign {
    display: block;
    margin: 0px auto;
    background-color: rgba(157, 166, 174, 0.769);
    box-shadow:10px 10px 5px grey;
}

.contact-form {
    margin: 10px;
}

#textBox , #contactBox  {
    background-color: rgba(157, 166, 174, 0.769);
    box-shadow:10px 10px 5px grey;
}
#contactBox {
    background-color: rgb(84, 101, 118);
    box-shadow:10px 10px 5px grey;
}

.navbar , .footer {
    background-color: tomato; 
    color: slategray;
}

#linkCard {
    position: sticky;
}